@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  position: relative;
  overflow: hidden;

  $transition-toggle: 500ms ease-in-out;
  $info-height: 30rem;
  &.active {
    .info-container {
      height: 10rem;
      transition: height $transition-toggle;
    }

    .card-wrapper {
      max-height: 100rem;
      height: auto; 
    }

    .more-container {
      opacity: 1;
      display: inherit;
      transition: opacity $transition-toggle;
    }

    .project-container {
      min-height: 10rem;
      height: auto;
      opacity: 1;

      transition: min-height $transition-toggle,
                  height $transition-toggle,
                  opacity $transition-toggle;
    }
  }

  .logo {
    position: absolute;
    top: -26px;
    right: 2px;
    width: 80px;
    height: 19px;
    background-size: cover;
    background-position: center;
  }

  .card-wrapper {
    background-color: white;
    border: 0.5rem solid $nl-purple;
    border-top: 2.3rem solid $nl-purple;
    border-radius: 1rem;
    padding: 0 1rem 1rem;
    margin-bottom: 1.4rem;
    @include box-depth(3);

    height: 95vh;
    min-height: 43rem;
    max-height: 46rem;
  }

  .info-container-parent-row {
    margin: 0 -1rem;
  }

  .info-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: $info-height;
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    transition: height $transition-toggle;

    &:hover {
      .image-container {
        &::after {
          opacity: 0.4;
          transition: opacity 300ms ease-in-out;
        }
      }
    }

    .info {
      position: absolute;
      bottom: 0;
      display: inline-block;
      background-color: white;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.3rem;
      z-index: 11;
      height: 6rem;

      transition: top $transition-toggle;

      .title {
        text-transform: capitalize;
        font-style: italic;
      }

      h2 {
        font-size: 2.1em;
        margin: 0;
        font-weight: bold;
      }
    }

    .image-container {
      display: inline-block;
      right: -1px;
      width: 100%;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $nl-purple;
        opacity: 0.3;
        z-index: 10;

        transition: opacity 300ms ease-in-out
      }

      .image {
        width: 100%;
        display: inline-block;
        background-size: cover;
        background-position: center;
        vertical-align: bottom;
      }
    }
  }


  .heading {
    position: absolute;
    left: 1rem;
    top: -2rem;
    text-transform: uppercase;
    margin: 0;
  }

  .skills-container {
    margin: 2rem 0 3rem;
  }

  .more-container {
    margin: 1rem 0 0;
    text-align: left;
    opacity: 0;
    display: none;

    transition: opacity $transition-toggle;

    .more-title {
      font-weight: bold;
    }

    .more {

      span::before {
        content: ', ';
      }

      span:first-child::before {
        content: '';
      }
    }
  }

  .project-container {
    height: 0rem;
    min-height: 0;
    opacity: 0;

    transition: height $transition-toggle,
                min-height $transition-toggle,
                opacity $transition-toggle;

    .container {
      margin: 2rem 0 3rem;
    }

    .motto-container {
      text-align: center;
    }

    .motto {
      font-size: 1em;
      font-style: italic;
    }

    .project {

      text-align: left;
      margin: 1rem 0;

      .project-title, .project-duration {
        display: inline-block;
      }

      .project-title {
        font-weight: bold;
      }

      .project-duration {
        font-style: italic;
        font-weight: normal;
        font-size: 0.7em;
      }

      .project-description {
        display: block;
      }
    }
  }
}

@media #{$small-only} {
  .card {

    padding: 0 0.5rem;

    .info-container {
      height: 27rem;
    }
  }
}
