<div class="mini-card" (click)="viewCard()">
  <div class="row">
    <div class="columns small-12 card-wrapper">
      <span class="logo" style="background-image: url(assets/images/EPS_RGB_WHITE_10.png);"></span>
      <div class="row info-container-parent-row">
        <div class="info-container">
          <div class="info">
            <h2 [ngClass]="{available: data.available}">{{ data.info.firstname + ' ' + data.info.lastname }}</h2>
            <span class="title">{{ data.info.title || "boidilicious" }}</span>
          </div>
          <div class="image-container">
            <img class="image" src="{{ data.image }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
